<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SqlDSSubCategory" connectionString="Data Source=WIN-V5NQQU77HP2\SQLEXPRESS;Initial Catalog=451;Persist Security Info=True;User ID=451;Password=shield12A;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="OnlineStoreConnectionString" connectionString="Data Source=WIN-V5NQQU77HP2\SQLEXPRESS;Initial Catalog=451;User ID=451;Password=shield12A;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
     
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>